extends navbar

block content 

    div(class='w-screen p-4 text-center')
        if(category)
            h1(class='underline text-3xl my-3') #{title}
            p(class='text-2xl underline my-3')= category.name 
            p Category Description
            p= category.description
        
            form(action="", method="post") 
                input(type="hidden", name='category_id', required='true', value=category._id)
                label(for='delete') Do you really want to delete this? This action is irreversible.
                div(class='flex justify-center')
                    abbr(title="Delete entry") 
                        input(type="submit",name='delete' value="Yes", class='m-2 px-3 py-1 bg-red-600 rounded-lg hover:bg-red-700 hover:cursor-pointer')
                    div(class='m-2 px-3 py-1 bg-green-600 rounded-lg hover:bg-green-700 hover:cursor-pointer')
                        a(href=category.url) No