extends navbar

block content 
    div(class="w-screen p-4")
        h2(class='text-4xl font-bold text-center')= title
        form(action="", method="post") 
            div(class='my-5 text-center')
                input(type="text", name="name", id="name", value=(entry ? entry.entry_title : ''), class="text-2xl w-screen lg:w-2/3 h-10 bg-transparent border-b-2 border-double border-black outline-none font-bold", placeholder='Title')
            div(class='my-5 text-center')
                textarea(name="desc", id="desc", cols="30", rows="10", class='bg-transparent border-2 border-black w-screen p-2 lg:w-2/3', placeholder='Entry') #{entry ? entry.entry_text : ''}
            div(class='text-center')
                label(class='text-2xl underline') Categories
                div(class='mx-auto flex flex-wrap')
                    if(categories)
                        div(class='mx-auto my-5')
                            for category in categories
                                span(class='p-2')
                                    input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked, class='m-1')
                                    label(for=category._id) #{category.name}
            //- input(type="hidden", name="entry_date_time" value=(entry ? entry.entry_date_time))
            div(class='my-5 text-center')
                input(type="submit", value="Submit", class='bg-blue-600 px-4 py-3 rounded-lg hover:cursor-pointer hover:bg-blue-700')
            if(errors)
                ul
                    for error_value, error_key in errors
                        li #{error_key}
                        for error_value_val, error_value_key in error_value
                            li #{error_value_key}, #{error_value_val}
