extends navbar

block content 
    if(entries)
        div(class='flex flex-wrap w-screen justify-center')
            a(href="/diary/entry/create" class='mx-5 flex justify-center items-center p-1 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl text-8xl lg:m-5 h-96 w-72 lg:h-80 lg:w-72 rounded-md') +
            for entry in entries
                //- div(class='flex flex-col h-48')
                //-     div(class='w-fit')
                //-         a(href=entry.url)  #{entry.entry_title? entry.entry_title: entry.entry_date_time}
                //-     a(href=entry.url+'/update') Update
                //-     p= entry.entry_text
                //-     p= entry.entry_date_time
                //-     p= entry.last_updated_time
                //-     p= entry.category
                //-     p= entry.year  
                div(class='mx-5 my-2 flex flex-col justify-between p-3 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl lg:m-5 h-96 w-72 lg:h-80 lg:w-72 rounded-md' onclick=`location.href='${entry.url}'`)
                  div(class='my-1')
                    div(class=' text-3xl lg:text-xl')
                      a(href=entry.url) #{entry.entry_title ? entry.entry_title : entry.entry_date_time.toLocaleString('en-IN', {timeZone: 'UTC'}) }
                    div(class='text-ellipsis lg:h-48 p-1 rounded-lg bg-slate-50 overflow-clip') #{entry.entry_text}
                  div(class='text-sm my-1') 
                    div() Entry Time: #{entry.entry_date_time.toLocaleString('en-IN', { timeZone: 'IST' })}
                    if(new Date(entry.last_updated_time).getTime() != new Date(entry.entry_date_time).getTime())
                      div() Last Updated: #{`${entry.last_updated_time.toLocaleDateString()}`}
                  div(class='flex justify-between')
                    div(class='text-sm')
                        a(href=entry.url+'/update' class='p-1.5 bg-white rounded-md hover:shadow-md') Update
                    div(class='text-sm')
                        a(href=entry.url+'/delete' class='p-1.5 bg-white rounded-md hover:shadow-md') Delete
    //- p= entry.

