extends navbar 

block content
    //- div(class='flex justify-center items-center flex-wrap')
    //-   if(user)
    //-     div Hello, #{user.username}
    //-     div
    //-       a(href='/logout') Logout
    //-     div
    //-       a(href='/diary/entry/create') Create Entry
    //-     div 
    //-       a(href="/diary/category/create") Create Category
    //-     div 
    //-       a(href="/diary/category") All Categories

    //-   else
    //-     div(class='p-4')
    //-       a(href='/glogin' class='text-blue-800 underline') Please Login

    if(entries)
      div(class='w-screen')
        h1(class='text-3xl font-bold p-5 underline text-center') Recent Entries
        div(class='flex flex-row flex-wrap justify-center items-center')
          //-   a(href="/diary/entry/create" class='mx-5 flex justify-center items-center p-1 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl text-8xl lg:m-5 h-96 w-72 lg:h-72 lg:w-60 rounded-md') +
          //-   for entry in entries
          //-     div(class='mx-5 my-2 flex flex-col justify-between p-4 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl lg:m-5 h-96 w-72 lg:h-72 lg:w-60 rounded-md')
          //-       div(class='my-1')
          //-         a(href=entry.url) #{entry.entry_title ? entry.entry_title : entry.entry_date_time.toLocaleString('en-IN', {timeZone: 'UTC'}) }
          //-       div(class='flex justify-between')
          //-         div()
          //-           a(href=entry.url+'/update' class='p-2 bg-white rounded-md hover:shadow-md') Update
          //-         div()
          //-           a(href=entry.url+'/delete' class='p-2 bg-white rounded-md hover:shadow-md') Delete
          a(href="/diary/entry/create" class='mx-5 flex justify-center items-center p-1 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl text-8xl lg:m-5 h-96 w-72 lg:h-80 lg:w-72 rounded-md') +
          for entry in entries
            div(class='mx-5 my-2 flex flex-col justify-between p-3 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl lg:m-5 h-96 w-72 lg:h-80 lg:w-72 rounded-md' onclick=`location.href='${entry.url}'`)
              div(class='my-1')
                div(class=' text-3xl lg:text-xl')
                  a(href=entry.url) #{entry.entry_title ? entry.entry_title : entry.entry_date_time.toLocaleString('en-IN', {timeZone: 'UTC'}) }
                div(class='text-ellipsis lg:h-48 p-1 rounded-lg bg-slate-50 overflow-clip') #{entry.entry_text}
              div(class='text-sm my-1') 
                div() Entry Time: #{entry.entry_date_time.toLocaleString('en-IN', { timeZone: 'IST' })}
                if(new Date(entry.last_updated_time).getTime() != new Date(entry.entry_date_time).getTime())
                  div() Last Updated: #{`${entry.last_updated_time.toLocaleDateString()}`}
              div(class='flex justify-between')
                div(class='text-sm')
                    a(href=entry.url+'/update' class='p-1.5 bg-white rounded-md hover:shadow-md') Update
                div(class='text-sm')
                    a(href=entry.url+'/delete' class='p-1.5 bg-white rounded-md hover:shadow-md') Delete
          div(class='flex flex-col justify-center items-center p-1 rounded-md w-screen lg:w-fit text-center')
            a(href="/diary/entry/" class='underline text-blue-500 hover:text-blue-600 mx-auto') View More

      div(class='text-center')
        h1(class='text-3xl font-bold p-5 underline') Categories
      div(class='flex flex-wrap justify-center w-3/4 mx-auto')
          if(entries)
            a(href="/diary/category/create" class='flex flex-col justify-center items-center p-1 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl text-4xl rounded-full lg:m-5 h-12 w-72') +
            for category in categories
              div(class='flex flex-col justify-center items-center px-3 bg-yellow-300 hover:bg-yellow-400 hover:shadow-2xl lg:m-3 w-fit rounded-full')
                  a(href=category.url) #{category.name}
            div(class='lg:flex lg:flex-col justify-center items-center p-1 rounded-md lg:w-fit')
              a(href="/diary/category/" class='underline text-blue-500 hover:text-blue-600') View More
      
    else 
      div(class='w-screen flex justify-center items-center')
        a(href='/glogin' class='text-3xl text-blue-500 underline p-4') Please Login!
            